---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { superValidate } from "sveltekit-superforms";
import { zod } from "sveltekit-superforms/adapters";
import { registerSchema } from "~/lib/schema";
import Form from "~/lib/components/auth-register.svelte";

const sv = await superValidate(Astro.request, zod(registerSchema));
---

<BaseLayout>
  <div class="bg-muted flex min-h-svh flex-col items-center justify-center gap-6 p-6 md:p-10">
    <div class="flex w-full max-w-sm flex-col gap-6">
      <Form client:only="svelte" {sv} />
    </div>
  </div>
</BaseLayout>
